@import url("./style.css");

.project{
    background-color: var(--card-color); 
    margin-bottom: 1rem;
    color: var( --card-text-color);
    border-radius: 0.75rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    border: var(--card-border);
}

.project:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); 
    transform: translateY(-0.5rem);
}

#projects h2, .project .live .projects-arrow, .live{
    color: var(--special-color);
}

.project .live p{
    color: var(--special-color) !important;
    font-weight: 600;   
}

.project .live:hover .projects-arrow{
    transform: translateY(-5px);
}

.project-name{
    font-weight: 600;
}


/* Tabs container */
.project-tabs {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Base tab */
.project-tab {
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  background: var(--tab-bg);
  color: var(--text-color);
  border: var(--card-border);
  transition: all 0.25s ease;
  cursor: pointer;
}

/* Hover */
.project-tab:hover {
  background: var(--special-color);
  color: #fff;
  transform: translateY(-1px);
}

/* Active tab */
.project-tab.active {
  background: var(--special-color);
  color: #fff;
  box-shadow: var(--box-shadow);
}
