:root{
    --bg-color: hsl(0, 0%, 98%);
    --text-color: #000;
    --icon-color: #000;
    --special-color: #00abf0;
    --btn-color: #fff;
    --dropdown-bgColor: #081b29;
    --dropdown-textColor: #fff;
    --bottom: #00abf0;
    --box-shadow: #00000040 .121875rem .121875rem .1625rem;
}

[data-theme = "dark"]{
    --btn-color: #fff;
    --bg-color: #081b29;
    --text-color: #fff;
    --icon-color: #fff;
    --btn-hoverTextColor: #fff;
    --dropdown-bgColor: rgba(255,255,255, 0.1);
    --dropdown-textColor: #fff;
    --bottom: #fff;
}

#skills{
    margin-block: 3rem;
}

#skills h2{
    margin-bottom: 4rem;
}

.skills__container{

    justify-content: center;
}

.skills__content{
    background-color: var(--bg-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}

.skill .bx-badge-check{
    font-size: 1rem;
    color: var(--text-color);
}

.skills__name{
    font-size: 1rem;
    font-weight: 500;
    line-height: 18px;
}

.skills-card {
    background-color: var(--card-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: .0625rem solid rgba(0,0,0,.1);
    margin: 0 auto;
    text-align: center;
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    
}

.skills-card__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: var(--card-text-color);
}

.skills-card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.skills-card__item {
    display: flex;
    align-items: flex-start; 
    gap: 10px; 

}

.skills-card__icon {
    color: var(--special-color); 
    font-size: 1rem;
    line-height: 1; 
}

.skills-card__name {
    font-size: .938rem;
    font-weight: 600;
    color: var(--card-text-color) !important;
    margin: 0;
    line-height: 1; 
}

.skills-card__level {
    font-size: 0.875rem;
    color: var(--card-text-color) !important;
    margin: 0;
}


.skills-card__item div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.skills__container {
    grid-template-columns: repeat(2,21.875rem);
    column-gap: 3rem;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box
}

.skills__content {
    background-color: var(--container-color);
    border: .0625rem solid rgba(0,0,0,.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem
}

.container {
    max-width: 60.5rem;
    margin-left: auto;
    margin-right: auto
}

.grid {
    display: grid;
    gap: 4rem
}

@media (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media (max-width: 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills-card{
        padding: 1.5rem;
    }
}